Canvas{
    background-color: #000;
    border: 1px solid #fbfafa;
    margin: 0 auto;
    display: block;
    width: 99%;
    height: 95%;
    position: absolute;
}

body{
    background-color: rgb(37, 37, 37);
}


